
<div id="background">

  <div id="buttons">
    <a class="button" href="" ng-click="fullscreen()"><i class="fa fa-arrows-alt fa-3x"></i></a>
    <a class="button" href="" ng-click="next()"><i class="fa fa-refresh fa-3x"></i></a>
  </div>

  <div id="card">
    <div class="front gender-{{card.gender}}">
      <div class="child">{{card.german}}</div>
    </div>
    <div class="back gender-{{card.gender}}">
      <div class="child">{{card.english}}</div>
    </div>
  </div>

</div>

<script>
  $("#card").flip({
    axis: 'y',
    trigger: 'click',
    autoSize: true
  });
</script>
